:root{
    --text-color: #333333;
    --white-color: #fff;
    --black-color: #000;


}

*{
    font-family: 'Roboto Condensed', sans-serif,Arial,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-container{
    background: #fafafa;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height:5rem;
    justify-content: space-between;
    padding: 0 30px;
}


.logo{
    /* height:100%; */
    /* width:20%; */
    display:flex;
    align-items: center;
    justify-content:center;
    img{
        max-width: 100%;
        height: auto;
    }
}
.catelog{
    height:100%;
    width:60%;
    
   
}
.catelog-list{
    list-style: none;
    display: flex;
    line-height: 80px;
}
.catelog-item {
    margin: auto;
    padding: 0 10px;
}

.catelog-item :hover {
    color: #b31f2a;
}

.catelog-item a {
    text-decoration: none;
    text-transform: uppercase;
    color: #333333;
    height: 100%;
}

.icon-wapper{
    width: 20%;
    display: flex;
}


.cart, .list, .search, .user, .btn-menu{
    position: relative;
    height: 100%;
    width: 33%;
    display: flex;
}
.btn-menu{
    display: none;
}
.search-wapper,
.user-wapper,
.cart-wapper,
.menu-wapper{
    position: relative;
    background: #ededed;
    margin: auto;
    min-width: 32px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    i{
        margin: auto;
        font-size: 1rem;
        color: #762802
    }
}
.menu-wapper{
    display: none;
}
.cart .cart-wapper,
.user .user-wapper,
.search.search-wapper{
    border-radius: 2px;
}

.cart .cart-wapper:hover,
.user .user-wapper:hover,
.search .search-wapper:hover{
    cursor: pointer;
    border: 2px solid #762802;
}
.cart .cart-wapper:hover .cart-infor,
.search .search-wapper:hover .search-input{
    display: block;
}
    
.search .search-input{
    display: none;
    width: 400px;
    position: absolute;
    top: 110%;
    right: 0;
    input{
        width: 100%;
        border: 1px solid #666;
        height: 50px;
        font-size: 13px;
        padding: 0 20px;
        line-height: 48px;
        z-index: 2;
    }
}

.cart-infor{
    border: solid 1px #666;
    width: 330px;
    background: #fff;
    padding: 25px 25px 35px;
    position: absolute;
    /* right: -120px; */
    right: 0;
    top: 110%;
    display: none;
    transition: .4s;
    z-index: 5;
    height: 465px;
    overflow: auto;
    overflow-x: hidden !important;
}
.menu-list{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 80px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    padding: 20px 0;
    overflow: auto; /* Enable scroll if needed */
    background-color:#fafafa; /* Fallback color */
}
.menu-list-category{
    list-style: none;
}
.menu-list-category-link{
    position: relative;
    display: block  ;
}
.menu-list-category-link > a{
    font-size: 14px;
    position: relative;
    display: block;
    padding: 15px;
    color: #333333;
    text-decoration: none;
    text-transform: uppercase;
}
.cart-infor small {
    color: #444;
    font-size: 13px;
    text-transform: none;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 12px;
    margin-bottom: 17px;
    display: table
}
.cart-infor small em {
    font-style: normal;
    color: #b31f2a;
    font-size: 13px;
}

.cart-list{
    list-style: none;
    padding: 0;
}
.cart-list .cart-item {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.cart-item .cart-item-img{
    width: 77px;
    height: 102px;
}
.cart-item .cart-item-infor{
    padding-left: 18px;
}
.cart-item-infor .btn-remove-item{
    border: none;
    background: none;
}
.cart-item-infor .btn-remove-item:hover i{
    color: red;
}
.cart-item .cart-item-infor .cart-item-name{
    text-decoration: none;
    color: var(--text-color);
    h5{
        font-size: 14px;
    }
}

.cart-item .cart-item-infor .cart-item-price,
.cart-item .cart-item-infor .cart-item-quantity{
    margin: 0 0 10px;
    font-size: 14px;
    color: var(--text-color);
}
.cart-infor .cart-list .cart-item-total {
    font-size: 15px;
    text-transform: none;
    margin: -10px 0 15px;
}
.cart-btn a:hover {
    background: #b31f2a;
}
.cart-btn a {
    text-decoration: none;
    background: #333333;
    font-size: 11px;
    color: #fff;
    text-transform: none;
    height: 33px;
    padding: 0 17px;
    line-height: 33px;
    display: inline-block;
    border-radius: 2px;
    font-weight: 700;
}

#number-product-in-cart {
    color: red;
    font-weight: bold;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top: 50px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}               

/* MODAL  */
.modal{
    position: fixed;
    left:0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    padding-top: 10%;
}
.modal-body{
    height: auto;
    width: 400px;
    background: var(--white-color);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: auto;
    font-size: 15px;
    padding-bottom: 20px;
}
#modal{
    display: none;
}
#register-form{
    display: none;
}
#login-form{
    display: none;
}
.auth-form{
    animation: growth linear 0.2s;
}
.auth-form .auth-form-header{
    height: 80px;
    display: flex;
    position: relative;
}
.auth-form .auth-form-header span{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
.auth-form .auth-form-header .auth-form-heading{
    font-size: 2rem;
    margin: auto;
}

.auth-form .auth-form-body {
    padding: 0 30px 30px 30px;
    text-align: center;
}
.auth-form .auth-form-body input {
    padding: 12px;
    width: 94%;
    margin: 10px;
    border: 1px solid #dbdbdb;
}
.auth-form-body .btn-auth {
    color: var(--white-color);
    background: #ee4d2d;;
    margin: 10px;
    padding: 0 10px;
    width: 94%;
    height: 40px;
    text-transform: uppercase;
    border: none;
    box-shadow: 0 1px 1px rgba(0,0,0,.09);
}

.auth-form-body .btn-auth:hover {
    background: #f53d2d;
    cursor: pointer;
    opacity: 0.7;
}
.auth-form-body .auth-with button{
    width: 125px;
    height: 40px;
    margin: 5px;
    padding: 0 8px 0 2px;
    border: 1px solid #dbdbdb;
    background: none;
}
.auth-form-body .auth-with button:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.02);
}
.auth-form-body .policy{
    padding-top: 20px;
}
.auth-form .auth-btn-switch{
    text-align: center;

    color: rgba(0,0,0,.26);
}
.auth-btn-switch .auth-btn-switch-login{
    color: #ee4d2d;
    cursor: pointer;
}
.auth-form-header span:hover {
    color: #ee4d2d;
}
