*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
.body-container{
    position: relative;
    margin-top: 150px;
}
.carousel-control-next, .carousel-control-prev{
    z-index: 0;
}

.heading-sub h5 {
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    position: relative;
    margin: 40px 0;
}


/* Card Item  */

.card.product-item{
    position: relative;
    margin: 20px 0;
}
.product-item .product-item-link{
    text-decoration: none;
}


.badge-new{
    height: 48px;
    width: 48px;
    background: #b31f2a;
    position: absolute;
    top: 4px;
    left: 4px;
    color: #fff;
    border-radius: 50%;
    line-height: 48px;
    text-align: center;
    font-size: 13px;
}



.product-item .btn-add-to-cart{
    height: 60px;
    width: 60px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background: #b31f2a;
    border-radius: 50%;
    padding: 20px;
    display: none;
    border: none;
}
.card-body .item-name{
    min-height: 97px;
    color: #333;
}

.card-body .item-price{
    color: #ed0918;
}

.product-item .btn-add-to-cart:hover {
    background: #ed0918;
}
.product-item:hover .btn-add-to-cart{
    display: block;
}

/* TOAST */
.toast{
    position: absolute;
    background-color: lime;
    right: 0;
    top: -50px;
    
}


/* TOAST NOTIFY */
#notify-toast{
    position: fixed;
    top: 80px;
    z-index: 1;
    display: none;
}

